apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf

  template:
    metadata:
      labels:
        app: audiobookshelf

    spec:
      containers:
        - name: audiobookshelf
          image: ghcr.io/advplyr/audiobookshelf:2.17.2

          envFrom:
            - configMapRef:
                name: audiobookshelf-configmap

          ports:
            - containerPort: 3005
              protocol: TCP

          volumeMounts:
            - name: audiobookshelf-data
              mountPath: /etc/audiobookshelf/audiobooks
              mountPath: /etc/audiobookshelf/podcasts
              mountPath: /etc/audiobookshelf/config
              mountPath: /etc/audiobookshelf/matadata

      restartPolicy: Always

      volumes:
        - name: audiobookshelf-data
          persistentVolumeClaim:
            claimName: audiobookshelf-data-pvc
          
